html {
    color: rgb(0, 0, 0);
    font-family: 'Delicious Handrawn', cursive;
    text-align: center;
    background-color: #f4fac8;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
body {
    width: 900px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
img {
    width: 800px;
    margin: 0 auto;
    display: block;
}
h1 {
    margin: 0;
    padding: 20px;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}